extends layout
block content
    |Bem vindo ao Catalogant, uma pequena aplicação que consultará os meus serviços do teste para a 
    a(href="https://mutantbr.com/") Mutant!
    footer Teste desenvolvido por #[a(href="http://thiagopaiva.com/") Thiago Paiva]     