extends head
block page
    h1 Catalogant
    h2 Endpoints
    p #[pre ./websites] #[strong Exibe sites dos usuários]
    p #[pre ./simpledata] #[strong Resumo com nome, email e empresa dos usuários]
    p #[pre ./suite] #[strong Exibe usuários com endereços contendo 'suite']
    a(href='/demo') Demonstração

