extends head
block page
    header
      h1 Catalogant
    main
        nav
          ul
            li
              a(href="/") Home
            li
              a(href="/demo") Demo Home
            li
              a(href="/websites/demo") Lista de Sites
            li
              a(href="/simpledata/demo") Resumo
            li
              a(href="/suite/demo") Endereços com Suite  
        main
            block content
        
