extends layout
block content
    table.table.table-striped.table-hover
        thead
            tr 
                th Nome
                th Email
                th(colspan="3") Empresa
        tbody
            each v in arr
                tr
                    td= v.name
                    td= v.email
                    td= v.company.name
                    td= v.company.catchPhrase
                    td= v.company.bs