extends layout
block content
    table.table.table-striped.table-hover
        thead
            tr 
                th Nome
                th Email
                th(colspan="4") Address
        tbody
            each v in arr
                tr
                    td= v.name
                    td= v.email
                    td= v.address.street
                    td= v.address.suite
                    td= v.address.city
                    td= v.address.zipcode