nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    margin-left:20px;
}

a, a:visited, a:active{
    color:#000088;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}